
.main {
  padding: 1.5rem;
  background-color: var(--color-primary-dark);
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;

  &Wrapper {
    max-width: 144rem;
    margin: 0 auto;
    background-color: var(--color-primary);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  }

  &Container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s ease-in-out;
  }
}

.hamburgerMenu {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--warm-grey);
  cursor: pointer;
  z-index: 999;

  @media (max-width: 992px) {
    display: block;
  }
}
