.aboutt {
  &Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-primary-dark);
    color: var(--light-grey);
    font-size: 1.4rem;
    padding: 2rem;
    margin-bottom: 1rem;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
    }

    &Text {
      margin-bottom: 2rem;
      width: 48%;
      text-align: justify;
      align-self: center;
      background-color: var(--color-primary);
      height: 100%;
      padding: 2rem;
      border-radius: 0.5rem;

      @media (max-width: 1100px) {
        width: 60%;
      }

      @media (max-width: 768px) {
        width: 90%;
      }
    }

    &Skills {
      width: 48%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .skill {
        width: 50%;
        padding: 1rem;
        background-color: var(--color-primary);
        border: 5px solid var(--color-primary-dark);

        div {
          display: flex;
          flex-wrap: wrap;
          background-color: var(--color-primary-dark);
          padding: 1rem;
          border-radius: 0.5rem;

          p {
            margin-left: 1rem;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-style: italic;
            border: 2px double var(--color-secondary-dark);
          }
        }

        h3 {
          font-size: 1.8rem;
          padding: 1rem;
          background-color: var(--color-primary-dark);
          border-radius: 0.5rem;
        }

        @media (max-width: 550px) {
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }

      @media (max-width: 1100px) {
        width: 90%;
        align-self: center;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  @media (max-width: 1200px) {
    h2 {
      text-align: center;
    }
  }
}
