.mainContainer {
  position: relative;
  height: calc(100vh - 3rem);
  width: 100vw;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}

.mainCurtain {
  background: rgba(30, 30, 40, 0.88);
  position: absolute;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
