.nav {
  background-color: var(--color-primary-dark);

  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary-dark);
    padding:2rem 0;
  }

  &Main {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem 3rem;
    color: var(--warm-grey);
  }

  &Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-dark);
    background-color: var(--warm-grey);
    font-weight: 700;
    font-family: inherit;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    width: 15rem;
    max-width: 15rem;
    border: none;
    border-bottom: 2px solid var(--color-secondary-dark);
    border-radius: 0.2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;

    .btnIcon {
      margin-right: 1rem;
      font-size: 1.8rem;
    }

    &Active {
      background-color: var(--color-secondary-dark);
      color: var(--white);
    }

    &::after {
      display: block;
      position: absolute;
      content: '.';
      margin: auto;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      color: transparent;
      opacity: 0;
      background-color: var(--color-secondary-dark);
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      color: var(--white);
      background-color: transparent;
    }

    &:hover::after {
      height: 100%;
      visibility: visible;
      opacity: 0.3;
      z-index: 1;
    }

    &:active {
      transform: translateY(2px) scale(1.02);
    }
  }
}

@media (max-width: 1200px) {
  .nav {
    display: flex;
    align-items: flex-start;

    &Container {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 1.5rem;
    }

    &Main {
      width: calc(100% - 15rem);
    }

    &Btn {
      margin: 0.1rem 0;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 550px) {
  .nav {
    padding-left: 0;

    &Container {
      margin-bottom: 1rem;
    }

    &Main {
      width: calc(100% - 4rem);
    }

    &Btn {
      max-width: 4rem;
      color: transparent;

      .btnIcon {
        opacity: 1;
        color: var(--white);
      }
    }
  }
}
