.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2rem solid var(--color-secondary-dark);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 98%, 68% 100%, 32% 100%, 0 98%, 0% 43%, 0 0);

  .profileParent {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right bottom,
        rgba(25, 25, 35, 0.9),
        rgba(30, 30, 40, 0.9)), url(../assets/images/background.jpg);
    ;
    background-size: cover;
    background-position: center;

    .profileDetails {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-bottom: 2.4rem;

      .profileName {
        color: var(--light-grey);

        h1 {
          letter-spacing: 0.5rem;
        }
      }
    }

    .animatedText {
      color: var(--color-success);
      font-family: 'Courier New', Courier, monospace;
      font-weight: 700;
      display: flex;
      align-items: flex-start;
      padding: 2rem 2rem 1rem 2rem;

      .icon {
        margin-right: 1rem;
      }
    }

    @media (max-width: 550px) {
      .animatedText {
        height: 5rem;
        text-align: start;
      }
    }
  }

  .tagline {
    color: var(--light-grey);
    margin: 1.2rem 0 3rem 0;
    text-align: justify;
    display: flex;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
    }

    span {
      color: var(--color-success);
      text-align: end;
      font-size: 10rem;
      align-self: center;
    }
  }

  .profileOptions {
    display: flex;
    align-items: center;

    .profileDownload {
      display: flex;
      margin-left: 2rem;
      background: var(--color-secondary-dark);
      color: var(--color-success);
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 2px;
      font-size: 2rem;
      font-weight: 700;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;

      a {
        color: var(--light-grey);
        font-size: 1.6rem;
        margin-left: 1rem;
        text-decoration: none;
      }

      &:hover {
        border-left: 1rem solid var(--color-success);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:active {
        transform: translateY(2px);
      }
    }

    @media (max-width: 550px) {
      flex-direction: column;

      & > * {
        width: 100%;

        button {
          width: 100% !important;
        }
      }


      .profileDownload {
        margin: 1rem 0;
      }
    }
  }

  .profileSocial {
    display: flex;
    margin-top: 3rem;

    button {
      border: none;
      padding: 0;
      background: none;
      color: var(--light-grey);
      font-size: 2.5rem;
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        color: var(--color-secondary);
        transform: scale(1.2);
      }
    }

    @media (max-width: 550px) {
      justify-content: center;
    }
  }

  .profileImage {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 var(--color-secondary-dark);
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    margin-bottom: 10rem;

    &Background {
      height: 92%;
      width: 92%;
      background-image: url(../assets/images/professional.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      background-repeat: no-repeat;
      transition: all 0.5s ease-out;

      &:hover {
        transform: scale(1.07);
      }
    }
  }
}

@media (max-width: 1440px) {
  .profileParent {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .profileDetails {
      text-align: center;
      width: 100%;

      .animatedText {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
      }

      .tagline {
        width: 100%;
      }
    }

    .profileImage {
      margin-bottom: 5rem;
      width: 20rem;
      height: 20rem;

      &Background {
        height: 92%;
        width: 92%;
      }
    }
  }
}