.transitionFade {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;

  &Scroll {
    overflow: hidden;
    outline: none;
    display: block;
    position: relative;
    width: 100%;
    height: calc(100vh - 3rem);

    &Content {
      transform: translate3d(0px, 0px, 0px);
    }
  }
}