.userContainer {
  background: url(../assets/images/background.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 40rem;

  &BgOverlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(30, 30, 40, 0.93) 0%, rgba(30, 30, 40, 0.96) 70%, rgba(30, 30, 40, 0.99) 80%, #1e1e28 100%);
  }  
}