.footer {
  background-color: var(--color-primary-dark);
  color: var(--light-grey);
  width: 100%;
  text-align: center;

  &Icon {
    position: relative;
    width: 98%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 2rem;

    .icon {
      font-size: 3rem;
      color: var(--color-secondary-dark);
      margin-right: 1rem;
    }

    .top {
      position: absolute;
      background-color: var(--color-secondary-dark);
      bottom: -3rem;
      font-size: 2.5rem;
      right: 3rem;
      color: var(--light-grey);
      border: 1px solid var(--color-secondary-dark);
      box-shadow: 0 0 0.5rem 0.5rem var(--light-grey);
      z-index: 1;
      padding: 0 0.5rem;
      border-radius: 50%;
    }
  }

  &Text {
    background-color: var(--color-primary);
    font-weight: 700;
    color: var(--light-grey);
    letter-spacing: 1.8px;
    padding: 1rem 0;

    span {
      color: var(--color-danger);
      font-weight: 700;
      font-size: 1.8rem;
    }
  }
}
