.modal {
  &Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(32, 32, 42, 0.9);
    z-index: 99999;
  }

  &Content {
    position: relative;
    max-width: 99.2rem;
    width: 90%;
    background-color: var(--color-primary-dark);
    border-radius: 0.5rem;
    border: 2rem solid var(--color-primary-dark);
    box-shadow: rgba(255, 255, 255, 0.09) 0 3px 12px;
    z-index: 999999;
    overflow-y: auto;
    height: 95vh;
  }

  &Close {
    position: fixed;
    justify-self: flex-end;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-secondary-dark);
    cursor: pointer;
    z-index: 9999999;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--color-danger);
      transform: scale(1.1);
    }
  }

  &Container {
    width: 100%;
    padding: 2rem;
    color: var(--light-grey);
    border-radius: 0.2rem;
  }

  &Description {
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.2rem;
      color: var(--light-grey);
      border-bottom: 1px solid var(--color-secondary-dark);
      padding-bottom: 1rem;
    }

    margin: 0 auto;
    width: 95%;
    background-color: var(--color-primary-dark);
    border-radius: 0.5rem;
    padding: 2rem;
    color: var(--warm-grey);
    text-align: justify;
  }

  &BtnContainer {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 34rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(255, 165, 0, 0.4) 0 2px 4px, rgba(255, 165, 0, 0.3) 0 7px 13px -3px, rgba(255, 165, 0, 0.2) 0 -3px 0 inset;
  }

  &Btn {
    width: 15rem;
    padding: 1rem 0;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-secondary-dark);
    border: 2px solid var(--color-secondary-dark);
    border-radius: 0.5rem;
    background-color: var(--color-primary-dark);
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: var(--color-secondary-dark);
      color: var(--color-primary-dark);
      border: 2px solid var(--color-primary-dark);

      &:active {
        transform: scale(0.95);
      }
    }
  }

  @media (max-width: 490px) {
    &BtnContainer {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 95%;
    }

    &Btn {
      margin: 0.5rem 0;
      width: 100%;
    }
  }
}
